$font-stack: "Josefin Sans"
$text-color: #EEEEEE
$text-color-secondary: #61677A
$bg-color: #202020
$bg-color-secondary: #272829
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, rgba(24,61,61,1) 0%, rgba(92,131,116,1) 100%)